node_modules/
package-lock.json
yarn.lock
.env
*.log
logs/
dist/
build/
*.sqlite
*.sqlite3
migrations/*.js.map
docker-compose.override.yml
*.dockerfile
.vscode/
.idea
coverage/
*.lcov
tmp/
temp/
*.swp
